.carousel{
    #carouselShoe{
        .carousel-item{
            .carousel__img{
                object-fit: fill;
                height: 55vh;
                width: 100%;
                margin-top: 30px;
            }
            
        }
        button{
            background: rgba(0, 0, 0, 0.5);
            border: transparent;
            width: 5%;
            margin-top: 30px;
        }
    }
    .carousel__services{
        text-align: center;
        padding: $pd-1 0 $pd-4;
        margin: 0 15px;
        .block-wrapper{
            background-color: $color-white-2;
            border: 1px solid rgba(0,0,0,0.1);
            padding: $pd-4 $pd-5;
            transition: $tr-5;
            margin-top: 20px;
        }
        .no-padding{
            padding: 0;
        }
        .text-des{
            line-height: 18px;
            vertical-align: middle;
            @include styleText($color-dark-2,$fs-4,$fw-1);
            i{
                font-size: 40px;
                text-align: center;
                transition: $tr-5;
            }
           
}
            h3{
                text-transform: uppercase;
                margin-bottom: 0px;
                margin-left: 10px;
                vertical-align: top;
                margin: 0 0 5px;
                line-height: 1.35;
                @include styleText($color-dark-1,$fs-3,$fw-2);
                transition:$tr-5;
                
}
            p{
                font-size: $fs-1;
            }
            }
            .ship{
                &:hover{
                    color: $color-white-1;
                    background-color: $color-red-1;
                    i{
                        color: $color-white-1;
                    }
                    h3{
                        color: $color-white-1;
                }
                }
            }
            .return{
                &:hover{
                    color: $color-white-1;
                    background-color: #fbaf5d;
                    i{
                        color: $color-white-1;
                    }
                    h3{
                        color: $color-white-1;
                }
                }
            }
            .support{
                &:hover{
                    color: $color-white-1;
                    background-color: #7cc576;
                    i{
                        color: $color-white-1;
                    }
                    h3{
                            color: $color-white-1;
                    }
                }
            }
        }
        
 