footer{
    background-color: #1d1f24;
    padding-top: $pd-1;
    color: $color-footer;
    margin-top: 40px;
    @include styleText($color-footer,$fs-1,$fw-1);
    .footer__top{
        padding: 0 0 $pd-4;
        text-align: left;
        margin-bottom: 30px;
        border-bottom: 1px solid #111;
        h3{
            font-size: 16px;
            letter-spacing: $ls-1;
            margin-top: 15px;
            font-weight: 600;
            color: $color-white-1;
            @include styleText($color-white-1,($fs-2)+1,$fw-2);

        }
        p{
            text-align: left;
            @include styleText($color-footer,$fs-1,$fw-1);

        }
        form{
            width: 100%;
            margin-top: 15px;
            display: inline-block;
            .footer__email{
                border:1px solid #eaeaea ;
                background-color: $color-white-1;
                @include styleText(#666,($fs-1)-1,$fw-1);
                padding: $pd-1 ($pd-1)-1;
                width: 68%;
            }
            .footer__sub{
                text-transform: uppercase;
                text-decoration: none;
                background-color: $color-red-1;
                padding: 10px 25px 12px 18px;
                border: none;
                width: 31%;
                margin-right: -4px;
                transition: all .5s;
                color: $color-white-1;
                i{
                    margin-right: 5px;
                }
                &:hover{
                    background-color: $color-dark-1;
                    color: $color-white-1;
                }
            }
        } 
        .social{
            margin-top: 18px;
            ul{
           
            li{
                margin-left: 7px;
                list-style-type: none;
                display: inline;
                a{
                    @include styleText($color-white-1,$fs-1,$fw-1);
                    height: 36px;
                    width: 36px;
                    line-height: 36px;
                    display: inline-block;
                    text-align: center;
                    
                }
            }
            .fb{
                a{
                    background-color: #3c5b9b;
                }
            }
            .googleplus{
                a{
                    background-color: #e33729;
                }
            }
            .tw{
                a{
                    background-color: #359bed;
                }
            }
            .linkedin{
                a{
                    background-color: #027ba5;
                }
            }
            .rss{
                a{
                    background-color: #fd9f13;
                }
            }
            .instagram{
                a{
                    background-color: #3f729b;
                }
            }
        }
        }      
    }
    .footer__bottom{
        .footer__logo{
            text-align: left;
            margin: 0 0 30px;
            display: block;
            h1{
                color: $color-white-1;
            }
        }
        .footer__content{
            div{
                margin-bottom: 10px;
            }
            i{
                @include styleText($color-white-1,($fs-1)-1,900);
                height: 35px;
                width: 35px;
                line-height: 35px;
                display: inline-block;
                text-align: center;
                margin: 0 0 8px 0;
                border: 1px solid #383c48;
                background-color: #383c48;
            }
            span{
                display: inline-block;
                padding-left: 5px;
            }
        }
        .footer__links{
            .link__title{
                text-transform: uppercase;
                font-size: 18px;
                margin: 0 0 8px;
                padding: 0 0 6px;
                letter-spacing: $ls-2;
                color: $color-white-1;
            }
            .tabBlock{
                margin-top: 40px;
            }
            .list__links{
                list-style: none;
                padding: 0 0 12px;
                li{
                    margin-bottom: 5px;
                    &:hover{
                        a{
                            color: #ff6666;
                            padding-left: 10px;

                        }
                    }
                }
                a{
                    transition: all .3s;
                    color: $color-footer;
                    text-decoration: none;
                    &::before{
                        content: ">";
	                    font-size: 14px;
	                    display: inline-block;
	                    cursor: pointer;
	                    line-height: 20px;
	                    margin-right: 5px
                    }
                }
            }
        }
    }
    .footer__copyright{
        padding-bottom: 8px;
	    margin-top: 20px;
	    background-color: #22252c;
        .copyright__title{
            padding-top: 14px;
        }
        .payment{
            margin-top: 10px;
	        margin-bottom:10px ;
            display: inline-block;
	        width: 100%;
	        text-align: right;
        }
        ul{
            list-style: none;
            li{
                margin-right: 6px;
                display: inline-block;
                a{
                    color: $color-white-1;
                }
            }
        }
    }
}