header{
    background-color: $color-a;
    #headerTop{
        .header__col{
            margin:20px 0;
            h1{
                color: $color-white-1;
                text-align: center;
            }
            form{
                align-items: center;
            }
        }
        #btnSearch{
            transition: $tr-5;
            border: 1px solid $color-white-1;
            color: $color-a;
            background-color: $color-white-1;
            &:hover{
                color: $color-white-1;
                background-color: $color-red-3;
                border:1px solid $color-red-3;
                margin:20px 0;
            h1{
                color: $color-white-1;
                text-align: center;
            }
            form{
                align-items: center;
            }
        }
        
    }
}
    .header__bag{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a{
            padding: 10px 20px;
            justify-content: center;
            background-color: $color-white-1;
            border-radius: 10px;
            text-decoration: none;
            color: $color-a;
            transition: $tr-5;
            &:hover{
                color: $color-white-1;
                background-color: $color-red-3;
            }
        }
        
    }
    #headerMenu{
        .collapse{
            justify-content: center;
        }
        .nav-item{
            text-align: center;
        .nav-link{
            text-transform: uppercase;
            @include styleText($color-a,$fs-1,$fw-2);
            margin: 0 30px;
            transition: $tr-5;
            &:hover{
                color: $color-red-3;
            }
        }
        
    }
    .active{
        .nav-link{
            color: $color-red-3;
        }
    }
    }
}